{% extends 'base.html' %}


{% block content %}

<!-- <h1>will be something like cart</h1> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header text-center"><h4>Cart Details  <span><i class="fas fa-shopping-cart"></i></span></h4></div>

                {% if cart.products.exists %}
                <div class="card-body">
                        <table class="table table-light table-hover cart-table">
                                <thead >
                                  <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    
                                  </tr>
                                </thead>


                                <tbody class="cart-body">



                                   
                                {% for product in cart.products.all %}
                                  <tr class="cart-products">
                                    <td>{{forloop.counter}}</td>
                                    <td>{{product.title}}
                                       

                                        {% include 'carts/remove_cart.html' with product_id=product.id  show='d-inline' %}
                                    </td>
                                        <!-- <a href="#" style="color:red;"><span><i class="fas fa-minus-circle"></i></span></a></td> -->
                                    <td>{{product.price}}$</td>
                                  </tr>
                                  {% endfor%}
                               



                                    <tr>
                                       
                                        <td colspan="2"></td>
                                        <td>Subtotal: <b> <span class="cart-subtotal">{{cart.subtotal}}$</span> </b></td>
                                      </tr>

                                      <tr>
                                            
                                            <td colspan="2"></td>
                                            <td>Total: <b> <span class="cart-total">{{cart.total}}$</span>  </b></td>
                                          </tr>

                                          <h6 class="text-danger">with 1.2% vat</h6>

                                          <tr>
                                            
                                            <td colspan="2"></td>
                                            <td><a class="btn btn-outline-success" href="{% url 'carts:checkout' %}">checkout</a></td>
                                          </tr>
                                  

                                </tbody>
                              </table>
                </div>

                <span class="cart-item-remove-form" style="display:none">
                    {% include 'carts/remove_cart.html' %}
                </span>

                {%else %}
                <div class="card-footer">
                    <h4>!! Nothing To Show</h4>
                </div>
                {% endif %}


                    
            </div>
           
        </div>
    </div>
</div>

{% endblock %}