{% extends 'base.html' %}


{% block content %}


<div class="container">
    <div class="row mb-3">

        {% for object in object_list %}
        <div class="col-md-4 mt-3">
            <div class="card text-center">
                <div class="card-header">
                    <h1>{{object.title}}</h1>
                </div>
                <div class="card-body">
                    {% if object.image %}
                    <img class="card-img-bottom" src="{{object.image.url}}" alt="img">
                    {% endif %}
                    <h4 class="card-text mt-2">Price:{{object.price}}$</h4>
                </div>
                <div class="card-footer">
                    <a href="{{object.get_absolute_url}}" class="btn btn-outline-info">More Info</a>
                </div>
             </div>
        </div>
        {% endfor %}



    </div>
</div>

{% endblock %}